.catalog {
  width: 100%;
  padding: 30px;
}

.catalog__list {
  @include no-list;
}

.catalog__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__description-wrapper {
  border: 1px solid $light-grey;
  border-top: none;
  width: 100%;
  padding: 27.5px 27px 26.5px 28px;
}

.catalog__wrapper {
  padding-bottom: 17.5px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 204px;
    height: 1px;
    background-color: $light-grey;
  }
}

.catalog__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 6px;
}

.catalog__description {
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 41px;
}

.catalog__price-wrapper {
  padding-top: 22.5px;
  display: flex;
  justify-content: space-between;
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.catalog__button {
  @include no-button;
}
