.catalog {
  @include wrapper;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.catalog__list {
  @include no-list;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
}

.catalog__item {
  margin-bottom: 30px;
  // width: 260px;
  width: 100%;
  border: 1px solid $light-grey;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__photo-link {
  display: block;
}

.catalog__photo {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.catalog__description-wrapper {
  width: 100%;
  padding: 27.5px 27px 26.5px 28px;
}

.catalog__item:hover .catalog__description-wrapper {
  box-shadow: 0 6px 10px rgba($black, 0.1);
}

.catalog__item:active .catalog__description-wrapper {
  box-shadow: 0 3px 5px rgba($black, 0.1);
}

.catalog__wrapper {
  padding-bottom: 17.5px;
}

.catalog__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 6px;
  color: $black;
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__description {
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 41px;
}

.catalog__price-wrapper {
  padding-top: 22.5px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $light-grey;
  }
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.catalog__button {
  @include no-button;
  color: rgba($black, 0.2);

  &:hover {
    color: $light-green;
  }

  &:active {
    color: rgba($light-green, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 67px;
    padding-bottom: 53px;
  }

  .catalog__item {
    display: flex;
    align-content: stretch;
  }

  .catalog__photo {
    min-width: 334px;
    min-height: 334px;
  }

  .catalog__description-wrapper {
    padding: 27px 32px 25px 34px;
    border-top: 1px solid $light-grey;
    max-height: 334px;
    width: 50%;
  }

  .catalog__wrapper {
    padding: 0;
    min-height: 234px;
  }

  .catalog__price-wrapper {
    padding-top: 23px;
  }

  .catalog__title {
    font-size: 20px;
  }

  .catalog__description {
    font-size: 15px;
  }

  .catalog__price {
    font-size: 17px;
  }

  .catalog__basket {
    width: 21px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .catalog__item {
    width: 316px;
    margin-right: 51px;
    flex-direction: column;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  // .catalog__photo-link {
  //   width: 316px;
  // }

  .catalog__photo {
    min-width: 316px;
    min-height: 462px;
  }

  .catalog__description-wrapper {
    width: 100%;
  }

  .catalog__wrapper {
    min-height: 97.5px;
  }
}
