.copyright {
  padding-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  color: $black;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  display: block;
  margin-right: 27px;
}

.copyright__link {
  color: $light-green;

  &:hover {
    color: $medium-green-hover;
  }

  &:active {
    color: rgba($medium-green-hover, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;
  }
}
