.copyright {
  padding-top: 12px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  color: $black;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  display: block;
  margin-right: 21px;
}

.copyright__link {
  color: $light-green;

  &:hover {
    color: $medium-green-hover;
  }

  &:active {
    color: rgba($medium-green-hover, 0.3);
  }
}

.copyright__logo {
  margin-top: 6px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__text {
    margin-top: -7px;
  }
}

// @media (min-width: $desktop-width) {
//   .copyright__text {
//     margin-left: 3px;
//   }
// }
