.form {
  @include wrapper;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 55px;
}

.form__text {
  margin: 0;
  margin-bottom: 29px;
}

.form__type {
  margin-bottom: 34px;
}

.form__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $light-green;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    height: 1px;
    background-color: $tiffany;
    flex-grow: 1;
    margin-left: 22px;
  }

  &--tel,
  &--email {
    margin-bottom: 0;
  }

  &--color {
    margin-bottom: 24px;
  }

  &--name {
    margin-bottom: 19px;
  }

  &--extra {
    margin-bottom: 23px;
  }
}

.form__list {
  @include no-list;

  &--radio {
    margin-bottom: 19px;
  }
}

.form__item {
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }

  &--checkbox {
    margin-bottom: 21px;
  }

  &--name {
    margin-bottom: 0;
  }
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black;
  padding-left: 60px;
  position: relative;
  display: flex;
  cursor: pointer;
  min-height: 40px;
  align-items: center;

  &--radio {
    padding-top: 5px;
  }

  &--radio::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    border: 2px solid $dark-brown;
    border-radius: 50%;
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    top: 0;
    left: 0;
    border: 2px solid $dark-brown;
  }

  &--name {
    padding-left: 0;
  }
}

.form__button--radio:checked + .form__label--radio::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: $tiffany;
    border-radius: 50%;
    top: 12px;
    left: 12px;
}

.form__button--radio:hover + .form__label--radio::before,
.form__button--radio:focus + .from__label--radio::before {
  border-color: $tiffany;
}

.form__button--radio:active + .form__label--radio::before {
  border-color: rgba($black, 0.3);
}

.form__button--checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  background-image: url("../img/ svg/tick.svg");
  top: 11px;
  left: 8px;
}

.form__button--checkbox:not(:hover) + .form__label--checkbox::before,
.form__button--checkbox:not(:active) + .form__label--checkbox::before {
  border-color: $dark-brown;
}


.form__button--checkbox:hover + .form__label--checkbox::before,
.form__button--checkbox:focus + .form__label--checkbox::before {
  border-color: $tiffany;
}

.form__button--checkbox:active + .form__label--checkbox:before {
  border-color: rgba($black, 0.3);
}

.form__color {
  margin-bottom: 31px;
}

.form__name {
  margin-bottom: 26px;
}

.form__name-wrapper {
  width: 260px;
}

.form__input {
  @include placeholder;
  width: 100%;
  padding-bottom: 12px;
  border: none;
  border-bottom: 2px solid $black;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 400;
  line-height: 18px;
  color: $dark-brown;

  &:hover,
  &:active {
    border-bottom-color: $tiffany;
  }

  &--contacts {
    padding: 12px 0 15px 0;
    margin-bottom: 35px;
  }
}

.form__phone-wrapper {
  position: relative;
}

.form__phone-image {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 17px;
  right: 0;

  &:hover {
    fill: $tiffany;
    opacity: 1;
  }
}

.form__email-wrapper {
  position: relative;
}

.form__email-image {
  position: absolute;
  width: 32px;
  height: 21px;
  top: 17px;
  right: 0;
}

.form__textarea {
  width: 260px;
  min-height: 142px;
  padding: 17px;
  color: rgba($black, 0.3);
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $dark-brown;
  resize: none;

  &:hover,
  &:focus,
  &:active {
    border-color: $tiffany;
  }
}

.form__extra {
  margin-bottom: 10px;
}

.form__asterisk {
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 30px;
}

.form__submit-button {
  @include no-button;
  @include white-button;
  padding: 16px 18px;
  font-size: 17px;
  line-height: 16px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 54px 0 50px;
  }

  .form__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 65px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .form__type {
    padding: 0 50px 41px 50px;
    display: flex;
    margin-bottom: 0;
  }

  .form__title {
    width: 25.6%;
    margin-bottom: 0;
    align-items: flex-start;
    margin-top: 17px;

    &--color {
      width: 24.3%;
    }

    &::after {
      display: none;
    }

    &--extra {
      margin-top: 19px;
    }

    &--name {
      width: 25.2%;
    }

    &--tel,
    &--email {
      margin-top: 0;
    }
  }

  .form__list {
    width: 75.6%;

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form__item {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }

    &--checkbox {
      width: 50%;
    }

    &--name {
      width: auto;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
    }
  }

  .form__color {
    padding: 50px 29px 27px 50px;
    display: flex;
    background-color: $grey;
    margin-bottom: 0;
  }

  .form__name {
    padding: 50px;
    display: flex;
    margin-bottom: 0;
  }

  .form__input {
    width: 100%;
    padding: 12px 18px 11px 18px;
    margin-bottom: 0;

    &--contacts {
      padding-bottom: 13px;
    }

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }

  .form__label {
    font-size: 19px;
    padding-left: 78px;

    &--checkbox {
      padding-left: 81px;
      padding-top: 5px;
    }

    &--name {
      margin-right: 25px;
      padding-left: 0;
    }
  }

  .form__label--radio::before {
    width: 50px;
    height: 50px;
  }

  .form__button--radio:checked + .form__label--radio::after {
    width: 20px;
    height: 20px;
    top: 15px;
    left: 15px;
  }

  .form__label--checkbox::before {
    width: 52px;
    height: 52px;
  }

  .form__button--checkbox:checked + .form__label--checkbox::after {
    width: 31px;
    height: 22px;
    top: 15px;
    left: 11px;
  }

  .form__phone {
    padding: 50px 50px 0;
    background-color: $grey;
    display: flex;
    align-items: center;
    padding-bottom: 24px;
  }

  .form__phone-wrapper {
    width: 75.6%;
  }

  .form__input--contacts {
    background-color: $grey;
  }

  .form__email {
    padding: 0 50px 50px;
    background-color: $grey;
    display: flex;
    align-items: center;
  }

  .form__email-wrapper {
    width: 75.6%;
  }

  .form__extra {
    padding: 50px 50px 53px;
    display: flex;
    margin-bottom: 0;
  }

  .form__textarea {
    width: 75.6%;
    font-size: 19px;
    line-height: 18px;
    padding: 15px 17px 17px 14px
  }

  .form__submit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .form__submit-button {
    order: 1;
    width: auto;
    padding: 18px 30px 15px 30px
  }

  .form__asterisk {
    order: 2;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0;
    padding-top: 103px;
    padding-bottom: 50px;
    margin: 0;
    max-width: none;
  }

  .form__section-wrapper {
    background-color: $grey;
    width: 100%;
  }

  .form__text {
    padding-left: 225px;
    padding-right: 223px;
  }

  .form__type {
    padding: 0 97px 39px 110px;
    max-width: 1150px;
    margin: 0 auto;
  }

  .form__title {
    width: 12.2%;

    &--color {
      margin-top: 19px;
      width: 13.8%;
    }

    &--name,
    &--tel,
    &--email,
    &--extra {
      width: 14.5%;
    }
  }

  .form__color {
    padding-left: 110px;
    padding-right: 200px;
    padding-top: 48px;
    margin: 0 auto;
    max-width: 1150px;
  }

  .form__name {
    padding-left: 110px;
    padding-right: 225px;
    max-width: 1150px;
    margin: 0 auto;
  }

  .form__list {
    &--name {
      width: 86.6%;
    }

    &--checkbox {
      width: 87.8%;
    }
  }

  .form__item {
    width: 100%;

    &--checkbox {
      width: 200px;
    }

    &--name {
      margin-bottom: 26px;
    }
  }

  .form__label--checkbox {
    padding-top: 19px;
  }

  .form__phone,
  .form__email,
  .form__extra {
    padding-left: 110px;
    padding-right: 225px;
    max-width: 1150px;
    margin: 0 auto;
  }

  .form__extra {
    padding-bottom: 47px;
  }

  .form__phone-wrapper,
  .form__email-wrapper {
    width: 86.6%;
  }

  .form__textarea {
    width: 86.6%;
  }

  .form__submit-wrapper {
    padding-left: 225px;
    padding-right: 225px;
  }
}
