.header__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 0;
  }

  .header__delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: $dark-brown;
  }
}

@media (min-width: $desktop-width) {
  .header {
    margin: 0 auto;
  }
}
