.header {
  display: flex;
  padding: 22px 30px;
  // border-bottom: 1px solid $light-grey;
}

.header__link {
  display: block;
  margin: 0 auto;
}

.header__logo {
  &--mobile {
    display: block;
  }

  &--tablet,
  &--desktop {
    display: none;
  }
}

.header__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 0;
  }
  // .header {
  //   display: grid;
  //   grid-template-columns: 370px 398px;
  //   // grid-template-rows: auto auto;
  //   padding: 0;
  //   border-bottom: none;
  // }

  // .header__link {
  //   padding: 25px 48px 20px;
  //   grid-column: 1 / 2;
  //   grid-row: 1 / 2;
  //   margin: 0;
  //   border-right: 1px solid rgba($black, 0.1);
  //   border-bottom: 1px solid rgba($black, 0.1);
  // }

  // .header__navigation {
  //   grid-column: 2 / 3;
  //   grid-row: 1 / -1;
  // }


  .header__logo {
    &--mobile,
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
      margin-right: auto;
    }
  }

  .header__delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: $dark-brown;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    &--mobile,
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
