.header__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    position: relative;
    z-index: 10;
    margin-bottom: -45.5px;
  }

  .header__delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: $dark-brown;
  }
}

@media (min-width: $desktop-width) {
  .header {
    margin: 0 auto;
    margin-bottom: -45.5px;
  }
}
