.lead {
  width: 100%;
  padding: 73px 31px 120px;
}

.lead__text {
  width: 260px;
  display: block;
  margin: 0 auto;
  color: $black;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
