.lead-inner {
  width: 100%;
  padding: 74px 22px;
  background-color: $grey;
}

.lead-inner__text {
  color: $black;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
