.map {
  width: 100%;
  height: 454px;
  background-image: url("https://via.placeholder.com/320x454");
  background-size: 320px auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 42px;
}
