.navigation__wrapper-logo {
  @include wrapper;
  display: flex;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid $light-grey;
}

.navigation__logo {
    &--mobile {
      display: block;
    }

    &--tablet,
    &--desktop {
      display: none;
    }
}

.navigation__toggle {
  @include no-button;
  margin-left: auto;
}

.navigation__delivery {
  display: none;
}

.navigation__list {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $black;
}

@media (min-width: $tablet-width) {
  .navigation {
    display: flex;
  }

  .navigation__wrapper {
    display: flex;
    flex-direction: column;

    &--site {
      width: 370px;
    }

    &--user {
      width: 398px;
    }
  }

  .navigation__wrapper-logo {
    padding: 21px 10px 20px 48px;
    border-right: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__logo {
    &--mobile,
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .navigation__delivery {
    display: block;
    padding: 19.5px 50px 0 31px;
    text-align: right;
    background-color: $very-light-grey;
  }
}

@media (min-width: $desktop-width) {
  .navigation__logo {
    &--mobile,
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .navigation__wrapper-desktop {
    display: flex;
    border-bottom: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
  }

  .navigation__wrapper {
    &--site {
      width: 750px;
    }

    &--user {
      width: 400px;
    }
  }

  .navigation__wrapper-logo {
    order: 2;
    padding: 8px 101px 7px 9px;
    border: 0;
  }

  .navigation__site {
    order: 1;
  }
}
