.process {
  @include wrapper;
  padding-bottom: 58px;
}

.process__wrapper {
  border: 1px solid $light-grey;
  padding: 25px 0 33px;
  width: 100%;
}

.process__title {
  margin: 0;
  padding: 0 32px 24px 89px;
  position: relative;
  font-size: 17px;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;
    top: 12px;
    margin-top: auto;
    margin-bottom: auto;
    left: 32px;
    background-image: url("/img/ svg/video.svg");
  }
}

.process__video {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.process__video-poster {
  width: 100%;
}

.process__play-button {
  @include no-button;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 101px;
  height: 77px;
  background-image: url("/img/ svg/play.svg");
  outline: none;

  &:hover {
    top: 50%;
    left: 50%;
    transform: scale(1.2) translateX(-50%) translateY(-50%);
  }

  &:active {
    transform: scale(0.8) translateX(-50%) translateY(-50%);
    opacity: 0.3;
  }
}

.process__video-description {
  padding-left: 32px;
  padding-right: 32px;
  margin: 0;
  width: 100%;
  margin-bottom: 41px;
}

.process__button {
  @include no-button;
  @include white-button;
  line-height: 16px;
  padding: 16px 11px;
  width: 73.8%;
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .process {
    padding-bottom: 64px;
  }

  .process__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .process__video {
    order: 1;
    position: relative;
    margin-bottom: 35px;
  }

  .process__title {
    order: 2;
    padding-top: 0;
    padding-left: 107px;
    padding-right: 0;
    margin-bottom: 24.5px;
    font-size: 20px;
    padding-bottom: 0;

    &::before {
      top: -2px;
      left: 42px;
    }
  }

  .process__video-description {
    order: 3;
    padding-left: 40px;
    padding-right: 42px;
    margin-bottom: 40.5px;
    font-size: 15px;
    line-height: 30px;
  }

  .process__button {
    order: 4;
    width: 584px;
    margin: 0 auto;
    margin-bottom: 46px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .process {
    padding-bottom: 105px;
  }

  .process__wrapper {
    flex-wrap: wrap;
    height: 455px;
  }

  .process__title {
    padding: 0;
    width: 178px;
    padding-top: 49px;
    margin-top: 47px;
    padding-left: 21px;
    margin-bottom: 26px;

    &::before {
      top: 0;
      left: 21px;
    }
  }

  .process__video {
    width: 683px;
    margin-bottom: 0;
  }

  .process__video-description {
    width: 253px;
    padding: 0;
    padding-left: 21px;
    margin-bottom: 52px;
  }

  .process__button {
    width: 230px;
    margin: 0;
    margin-left: 23px;
  }
}
