.site-menu {
  @include no-list;
}

.site-menu__item {
  padding: 27.5px 30px 27.5px 76px;
  text-align: left;
  border-bottom: 1px solid $light-grey;
}

.site-menu__link {
  color: $black;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-menu {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 21.5px 15px 0 50px;
    flex-wrap: wrap;
  }

  .site-menu__item {
    padding: 0;
    border: 0;
    margin-right: 25px;

    &:last-of-type {
      margin-right: 0;
    }
  }


  .site-menu__link {
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .site-menu {
    font-size: 17px;
    padding: 0;
    padding-left: 15px;
    background-color: $white;
    border-bottom: 1px solid $light-grey;
  }

  .site-menu__item {
    margin: 0;
    padding: 33px 34px 31px 36px;

    &--catalog {
      border-right: 1px solid $light-grey;
    }
  }
}
