.social {
  @include no-list;
  display: flex;
  width: 142px;
  margin: 0 auto;
  margin-bottom: 21px;
  align-items: center;
}

.social__item {
  margin-right: 41px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  color: $icon-black;

  &:hover {
    color: $medium-green-hover;
  }

  &:active {
    color: rgba($medium-green-hover, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;
    margin-right: 120px;
  }
}
