.social {
  @include no-list;
  display: flex;
  width: 142px;
  margin: 0 auto;
  margin-bottom: 27px;
  align-items: center;
}

.social__item {
  margin-right: 41px;

  &:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 0;
    width: 141px;
  }
}
