.table {
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
}

.table__cell {
  padding: 10px 28px 10px 0;
  border-bottom: 1px solid $light-grey;
}

@media (min-width: $tablet-width) {
  .table__cell {
    padding-top: 9px;
    padding-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .table__cell {
    padding-top: 6px;

    &--color{
      padding-bottom: 13px;
    }

    &--tiffany {
      padding-top: 11px;
      padding-bottom: 13px;
    }
  }
}
