.user-menu {
  @include no-list;
}

.user-menu__item {
  padding: 27px 30px 26px 30px;
  text-align: left;
  border-bottom: 1px solid $light-grey;
  cursor: pointer;
}

.user-menu__link {
  display: flex;
  justify-content: flex-start
}

.user-menu__icon {
  margin-right: 26px;
  margin-top: 2px;
  opacity: 0.2;

  &:hover {
    color: $light-green;
    opacity: 1;
  }

  &:active {
    color: rgba($light-green, 0.3);
  }
}

.user-menu__link:hover .user-menu__icon  {
  color: $light-green;
  opacity: 1;
}

.user-menu__link:active .user-menu__icon  {
  color: rgba($light-green, 0.3);
}

.user-menu__text {
  display: block;
  color: $black;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .user-menu {
    display: flex;
    border-bottom: 1px solid $light-grey;
    width: 398px;
  }

  .user-menu__item {
    &--search {
      padding: 36px 31px 34px 33px;
      border: 0;
      border-right: 1px solid $light-grey;
    }

    &--cart {
      font-size: 17px;
      line-height: 24px;
      font-weight: 700;
      padding: 34px 50px 31px 31px;
      width: 100%;
      border: 0;
      align-items: center;
    }
  }

  .user-menu__link {
    justify-content: space-between;
  }

  .user-menu__icon {
    margin: 0;

    &--cart {
      margin-top: 2px;
    }
  }

  .user-menu__text--search {
    display: none;
  }

  .user-menu__icon {
    &--search {
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-menu {
    border-bottom: none;
  }

  .user-menu__item {
    &--search {
      padding-top: 32px;
    }

    &--cart {
      padding: 32.5px 32px 31.5px 32px;
    }
  }
}
