$font-family: "Open Sans", "Arial", sans-serif;

/* Colors */
$dark-brown: #444444;
$white: #FFFFFF;
$black: #000000;
$light-green: #63D1BB;
$light-green-hover: #59D5BC;
$medium-green: #56C3B2;
$medium-green-hover: #46C1AE;
$tiffany: #62D1BA;
$grey: #F1F1F1;
$light-grey: #ECECEC;
$very-light-grey: #FAFAFA;
$medium-grey: #E5E5E5;

/* Breakpoints */
$tablet-width: 768px;
$desktop-width: 1150px;
